<nav class="menu">
  <ul>
    <li><%= link_to  "Animals" %></li>
    <li><%= link_to  "FAQ" %></li>
    <li><%= link_to  "Contact" %></li>
    <li><%= link_to  "Dev" %></li>
  </ul>
</nav>
<section class="grid-section animals" id="animals">
  <h1 class="title">Fantastic Animals</h1>
  <ul class="animals-list">
    <li>
      <%= image_tag 'animals/imagem1' %>
    </li>
    <li>
      <%= image_tag 'animals/imagem2' %>
    </li>
    <li>
      <%= image_tag 'animals/imagem3' %>
    </li>
    <li>
      <%= image_tag 'animals/imagem4' %>
    </li>
    <li>
      <%= image_tag 'animals/imagem5' %>
    </li>
    <li>
      <%= image_tag 'animals/imagem6' %>
    </li>
  </ul>
  <div class="animals-description">
    <section>
      <h2>Fox</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo deleniti itaque ipsa, atque perspiciatis fugiat labore voluptates iusto laboriosam, delectus molestias eligendi quisquam dolor sit?</p>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vero quaerat nulla, totam ab accusantium quod. Fugiat laborum eaque sapiente quas in, necessitatibus illum explicabo. Iusto.</p>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vero quaerat nulla, totam ab accusantium quod. Fugiat laborum eaque sapiente quas in, necessitatibus illum explicabo. Iusto.</p>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vero quaerat nulla, totam ab accusantium quod. Fugiat laborum eaque sapiente quas in, necessitatibus illum explicabo. Iusto.</p>
    </section>
    <section>
      <h2>Squirrel</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo deleniti itaque ipsa, atque perspiciatis fugiat labore voluptates iusto laboriosam, delectus molestias eligendi quisquam dolor sit?</p>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vero quaerat nulla, totam ab accusantium quod. Fugiat laborum eaque sapiente quas in, necessitatibus illum explicabo. Iusto.</p>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vero quaerat nulla, totam ab accusantium quod. Fugiat laborum eaque sapiente quas in, necessitatibus illum explicabo. Iusto.</p>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vero quaerat nulla, totam ab accusantium quod. Fugiat laborum eaque sapiente quas in, necessitatibus illum explicabo. Iusto.</p>
    </section>
    <section>
      <h2>Bear</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo deleniti itaque ipsa, atque perspiciatis fugiat labore voluptates iusto laboriosam, delectus molestias eligendi quisquam dolor sit?</p>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vero quaerat nulla, totam ab accusantium quod. Fugiat laborum eaque sapiente quas in, necessitatibus illum explicabo. Iusto.</p>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vero quaerat nulla, totam ab accusantium quod. Fugiat laborum eaque sapiente quas in, necessitatibus illum explicabo. Iusto.</p>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vero quaerat nulla, totam ab accusantium quod. Fugiat laborum eaque sapiente quas in, necessitatibus illum explicabo. Iusto.</p>
    </section>
    <section>
      <h2>Wolf</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo deleniti itaque ipsa, atque perspiciatis fugiat labore voluptates iusto laboriosam, delectus molestias eligendi quisquam dolor sit?</p>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vero quaerat nulla, totam ab accusantium quod. Fugiat laborum eaque sapiente quas in, necessitatibus illum explicabo. Iusto.</p>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vero quaerat nulla, totam ab accusantium quod. Fugiat laborum eaque sapiente quas in, necessitatibus illum explicabo. Iusto.</p>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vero quaerat nulla, totam ab accusantium quod. Fugiat laborum eaque sapiente quas in, necessitatibus illum explicabo. Iusto.</p>
    </section>
    <section>
      <h2>Monkey</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo deleniti itaque ipsa, atque perspiciatis fugiat labore voluptates iusto laboriosam, delectus molestias eligendi quisquam dolor sit?</p>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vero quaerat nulla, totam ab accusantium quod. Fugiat laborum eaque sapiente quas in, necessitatibus illum explicabo. Iusto.</p>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vero quaerat nulla, totam ab accusantium quod. Fugiat laborum eaque sapiente quas in, necessitatibus illum explicabo. Iusto.</p>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vero quaerat nulla, totam ab accusantium quod. Fugiat laborum eaque sapiente quas in, necessitatibus illum explicabo. Iusto.</p>
    </section>
    <section>
      <h2>Lion</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo deleniti itaque ipsa, atque perspiciatis fugiat labore voluptates iusto laboriosam, delectus molestias eligendi quisquam dolor sit?</p>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vero quaerat nulla, totam ab accusantium quod. Fugiat laborum eaque sapiente quas in, necessitatibus illum explicabo. Iusto.</p>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vero quaerat nulla, totam ab accusantium quod. Fugiat laborum eaque sapiente quas in, necessitatibus illum explicabo. Iusto.</p>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vero quaerat nulla, totam ab accusantium quod. Fugiat laborum eaque sapiente quas in, necessitatibus illum explicabo. Iusto.</p>
    </section>
  </div>
  <section class="grid-section faq" id="faq">
    <h1>FAQ</h1>
    <dl>
      <dt>What are the age of the animals?</dt>
      <dd>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magnam dolorem eligendi sapiente porro molestiae quaerat accusantium minus reiciendis, ratione voluptate, beatae qui accusamus iure aliquid rerum quibusdam quae dicta numquam?
        Sit reiciendis esse dicta vel modi voluptatem hic alias nesciunt suscipit nisi soluta ducimus quis nostrum laboriosam exercitationem omnis, veritatis eligendi autem laudantium mollitia ex deleniti adipisci? In, doloremque earum?
        Mollitia doloremque, iure nostrum reiciendis, quasi iste eaque aut dolor deleniti repudiandae aperiam! Voluptatibus fugiat eveniet consequatur quisquam id dolor excepturi alias, dolore dignissimos repellendus corrupti ducimus fugit expedita architecto?
        Veritatis assumenda cupiditate, impedit magni asperiores pariatur molestiae nostrum vero quas quae, quis, temporibus nemo vel vitae fugit nam eaque blanditiis voluptates earum dolorum quisquam alias id officia perspiciatis? Nam.
        Eius expedita, doloremque incidunt minus assumenda quibusdam amet molestias distinctio nulla, reprehenderit, tempora dolores illum? Beatae ipsum suscipit nam rerum soluta obcaecati velit mollitia dignissimos, repellendus dolorem, nihil aliquid voluptate!
        Esse dignissimos ex saepe, error doloremque obcaecati temporibus sequi culpa aliquam quo quos magnam sunt, id quis quisquam quia eius architecto doloribus, enim quidem. Aut natus nam qui dolorum exercitationem?
        Veniam officiis minus excepturi illo eum magni saepe, non cum quia perspiciatis repellendus voluptates dignissimos blanditiis, pariatur nobis nostrum sequi architecto dolor laboriosam in facere omnis quos. Cum, quia sequi?
        Cupiditate libero iusto autem eaque odio consectetur hic temporibus sapiente totam reiciendis voluptates quidem atque ab, ipsum vitae sit itaque quos. Hic veniam ut aperiam voluptas aliquid sed, officiis quasi!
        Rem, alias deserunt totam delectus deleniti accusantium, voluptatem veniam quia, voluptatibus neque illum expedita eligendi? Iure, natus ipsam. Quaerat ducimus quod adipisci qui sequi vitae numquam aut quasi quos rerum.
        Tempora recusandae voluptatibus, optio exercitationem quidem delectus eum quia. Recusandae tempora consequatur provident ab. Repudiandae consectetur dolorem quae doloribus at, commodi quia reprehenderit ex corporis id pariatur minima. Possimus, magnam.
      </dd>
      <dt>Are they fantastic?</dt>
      <dd>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, molestias et! Architecto sequi eum sed, numquam commodi minus repellendus iusto harum blanditiis est praesentium facilis optio, consequuntur quis! Placeat, ipsa.
        Consectetur unde neque id sit fugit aut labore. Ea repellendus est sed ex, adipisci officia, eaque magnam explicabo eveniet tempore quae atque perferendis quam quod, hic quaerat natus accusamus consequuntur?
        Labore nulla voluptates cupiditate impedit delectus qui repudiandae. Nostrum quidem quae enim odit voluptatibus molestias animi. Dolorum, at officiis atque rem in molestias cum sint cupiditate corporis! Quos, delectus officiis.
        Eaque rem sit laboriosam eveniet explicabo consequatur, quidem voluptatum cupiditate omnis sapiente minus suscipit a similique impedit quo atque optio, quibusdam error est obcaecati laudantium quae aliquam beatae? Mollitia, maxime?
        Repudiandae quia sed modi. Provident dolorum corporis iusto necessitatibus doloremque. Cupiditate, tempora culpa id, optio modi alias veniam deserunt molestias eligendi voluptatum quod error hic eos. Ipsum accusantium itaque reprehenderit.
      </dd>
      <dt>What are their difference?</dt>
      <dd>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo, sed. Sit incidunt, consequatur accusantium ea doloremque beatae voluptate recusandae itaque id vero praesentium. Assumenda hic repellendus illo, quasi esse aliquid!
        Non, neque? Suscipit beatae laudantium reiciendis error cum necessitatibus dolorem deleniti molestias quia repellendus architecto iure dignissimos aperiam repudiandae nihil reprehenderit tempora illum numquam, tenetur earum aut quibusdam. Ullam, vel.
        Suscipit debitis asperiores repellat eius corporis deleniti reprehenderit soluta molestias consectetur maxime fugiat exercitationem dignissimos placeat eum eos optio consequatur dolores unde illum, tenetur doloremque aliquam inventore! Labore, cumque eligendi.
        Iure reprehenderit saepe harum ut doloribus recusandae cupiditate hic itaque blanditiis, velit vel eum laborum, ex iusto! Qui dolor vel fugit molestiae rerum iste ad, ullam beatae repellendus asperiores quos.
        Laboriosam nulla asperiores cum iure maxime! Accusamus, enim dolor neque tempore obcaecati ipsam, excepturi architecto maiores voluptas temporibus est vero porro eum, et tenetur accusantium aliquam! Reiciendis eligendi eius unde.
      </dd>
      <dt>How to protect?</dt>
      <dd>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum inventore nisi, vitae mollitia nam impedit laborum. Commodi voluptatum iste recusandae quo a, minus ipsa cumque praesentium eos maiores? Placeat, perspiciatis!
        Commodi consectetur alias id doloremque quod cumque iste officiis, iusto maiores enim sapiente velit veritatis totam, dolores non? Totam voluptatum illum nisi amet facilis laboriosam distinctio odit reprehenderit consectetur ad.
        Soluta velit deserunt alias vel nostrum, dolorem explicabo adipisci ex atque iusto molestiae? Atque temporibus quo maxime soluta, nemo iusto quod aliquid nihil incidunt, dolorum itaque laborum, adipisci molestias aut!
        Sit nostrum voluptate deleniti. Doloremque voluptas at cumque reiciendis et consequatur laborum esse expedita dolores. Culpa error ex sapiente ut, excepturi minus non quas laborum earum vel quis pariatur possimus.
        Nihil corrupti necessitatibus officia fugiat aspernatur consequatur aliquid provident consequuntur, quae maiores laudantium eligendi velit architecto soluta eaque at minima perferendis asperiores sequi culpa. Fugiat debitis facere id ab velit.
      </dd>
    </dl>
  </section>
</section>

<section class="grid-section contact" id="contact">
  <h1>Contact</h1>
  <div class="map">
    <%= image_tag 'maps/mapa' %>
  </div>
  <ul class="personal-info">
    <li>contact@gmail.com</li>
    <li>+55 (11) 9999-9999</li>
    <li>Stree Of Life</li>
    <li>Sao Paulo, Brazil</li>
  </ul>
</section>
